<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Bienvenido a la Heladería</h1>
    <p>Explora nuestro menú de deliciosos helados:</p>
    <div class="product-list">
        {% for producto in productos %}
        <div class="product">
            <h2>{{ producto[0] }}</h2>
            <h3>Ingredientes:</h3>
            <ul>
                {% for ingrediente in producto[1].split(',') %}
                <li>{{ ingrediente }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('seleccionar_ingredientes') }}">Seleccionar Ingredientes</a>
</body>
</html>
